<div class="container" style="margin-top: 10px;">
    <div class="row justify-content-md-center">
        <div class="col col-lg-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">City Name</th>
                        <th scope="col">Coutry Name</th>
                        <th scope="col">Temperature</th>
                        <th scope="col">Thermal Sensation</th>
                        <th scope="col">Date</th>
                        <th scope="col">
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of historicals">
                        <td>{{item.cityName}}</td>
                        <td>{{item.countryName}}</td>
                        <td>{{item.temperature}}</td>
                        <td>{{item.thermalSensation}}</td>
                        <td>{{item.createDate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>